@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2b6cb0; /* Blue */
  --secondary: #63b3ed; /* Light Blue */
  --accent: #48bb78; /* Green */
  --neutral: #e2e8f0; /* Light Gray */
  --contrast: #2d3748; /* Dark Gray */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b8bed9;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7cd;
}

.dbg {
  border: 1px solid red;
}

* {
  @apply transition-all duration-[0.4s];
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@layer components {
  .field {
    @apply outline-none text-sm  bg-inherit py-3 block w-full px-4  text-white  border-b-2 lg:border-b-[3px]  border-white focus:border-white;
  }
  .center {
    @apply flex flex-col justify-center items-center;
  }
  .btn-1 {
    @apply outline-none hover:ring-1 hover:ring-offset-2 hover:ring-primary  rounded-[40px] text-white bg-primary font-medium px-6 py-2;
  }

  .btn-2 {
    @apply outline-none hover:bg-primary/10  rounded-[40px] text-primary bg-transparent border border-primary font-medium px-6 py-2;
  }

  .btn-3 {
    @apply outline-none hover:bg-contrast/10  rounded-[40px] text-contrast bg-transparent border border-contrast font-medium px-6 py-2;
  }

  .btn-4 {
    @apply outline-none hover:bg-white/10 text-white rounded-[40px]  bg-transparent border border-white font-medium px-6 py-2 disabled:pointer-events-none disabled:opacity-40;
  }

  .btn-5 {
    @apply outline-none hover:bg-white/10 text-white rounded-[40px]  bg-transparent border border-white font-medium px-6 py-2 disabled:pointer-events-none disabled:opacity-40;
  }
}
